In [33]:
import pandas as pd

# Загрузка и пример данных

In [34]:
data = pd.read_csv('data/2025-02-17_15:38_data.csv')
data.head(5)

,data[0],data[1],data[2],data[3],data[4],data[5],data[6],data[7],data[8],data[9],...,data[2043],data[2044],data[2045],data[2046],data[2047],Num Pack,Antenna,Window,Diag,System_type
0,-23.724130,-82.846640,-85.815994,-40.487137,-9.855880,-52.670380,-41.841953,-90.371140,-68.569360,-82.249370,...,-23.904700,-99.380290,-80.058350,-6.791001,-24.993969,1,3,11,1,Type 1
1,-34.496174,-48.941082,-8.382666,-20.423681,-33.155937,-3.190306,-3.307498,-0.160970,-40.544880,-6.708192,...,-36.143925,-36.397700,-18.907421,-60.436240,-2.054810,2,4,12,1,Type 1
2,-57.034462,-83.966324,-74.360630,-55.952854,-29.261274,-5.960996,-37.632244,-82.816765,-58.320360,-3.571861,...,-80.177010,-94.920000,-62.122870,-90.679634,-26.753443,3,6,8,1,Type 1
3,-49.735306,-3.758673,-41.224655,-28.315577,-20.009222,-6.271378,-79.210754,-13.036032,-75.456375,-62.951890,...,-58.416860,-11.715746,-27.629278,-66.973170,-42.012974,4,4,2,1,Type 1
4,-27.031662,-61.492200,-75.030380,-94.626660,-26.369024,-82.629820,-59.879368,-91.867950,-64.629800,-61.107372,...,-11.735241,-24.221718,-72.693320,-69.423730,-39.172153,5,3,3,1,Type 1

# Берем только отсчеты

In [35]:
values_data = data.drop(columns=['Num Pack', 'Antenna', 'Window', 'Diag', 'System_type'])
values_data.head(5)

,data[0],data[1],data[2],data[3],data[4],data[5],data[6],data[7],data[8],data[9],...,data[2038],data[2039],data[2040],data[2041],data[2042],data[2043],data[2044],data[2045],data[2046],data[2047]
0,-23.724130,-82.846640,-85.815994,-40.487137,-9.855880,-52.670380,-41.841953,-90.371140,-68.569360,-82.249370,...,-35.780270,-14.029753,-16.059353,-18.760612,-12.469341,-23.904700,-99.380290,-80.058350,-6.791001,-24.993969
1,-34.496174,-48.941082,-8.382666,-20.423681,-33.155937,-3.190306,-3.307498,-0.160970,-40.544880,-6.708192,...,-38.320843,-35.300260,-45.438564,-11.001849,-90.128600,-36.143925,-36.397700,-18.907421,-60.436240,-2.054810
2,-57.034462,-83.966324,-74.360630,-55.952854,-29.261274,-5.960996,-37.632244,-82.816765,-58.320360,-3.571861,...,-94.176765,-24.111574,-94.333084,-18.023533,-96.619650,-80.177010,-94.920000,-62.122870,-90.679634,-26.753443
3,-49.735306,-3.758673,-41.224655,-28.315577,-20.009222,-6.271378,-79.210754,-13.036032,-75.456375,-62.951890,...,-18.887262,-86.955414,-53.280895,-55.136536,-65.579895,-58.416860,-11.715746,-27.629278,-66.973170,-42.012974
4,-27.031662,-61.492200,-75.030380,-94.626660,-26.369024,-82.629820,-59.879368,-91.867950,-64.629800,-61.107372,...,-47.560684,-57.202920,-33.245083,-65.860620,-38.218594,-11.735241,-24.221718,-72.693320,-69.423730,-39.172153

# Отсчеты первого наблюдения

In [36]:
values_data.iloc[0]

data[0]      -23.724130
data[1]      -82.846640
data[2]      -85.815994
data[3]      -40.487137
data[4]       -9.855880
                ...
data[2043]   -23.904700
data[2044]   -99.380290
data[2045]   -80.058350
data[2046]    -6.791001
data[2047]   -24.993969
Name: 0, Length: 2048, dtype: float64