In [24]:
import pandas as pd

# Загрузка и пример данных

In [25]:
data = pd.read_csv('data.csv')
data.head(5)

,data[0],data[1],data[2],data[3],data[4],data[5],data[6],data[7],data[8],data[9],...,data[2043],data[2044],data[2045],data[2046],data[2047],Num Pack,Antenna,Window,Diag,System_type
0,-64.449200,-55.673042,-30.408373,-97.823845,-48.108017,-35.798160,-29.773106,-79.133960,-20.236090,-56.574757,...,-2.730971,-96.824455,-54.453390,-75.374870,-26.068628,25,3,3,1,Type 1
1,-98.071106,-73.799774,-70.041550,-26.610361,-79.431404,-0.545225,-27.153290,-75.430620,-25.741620,-19.417824,...,-68.978020,-95.390770,-20.614525,-27.744001,-38.712420,26,1,6,1,Type 1
2,-33.203976,-20.196117,-32.095676,-39.095417,-44.602276,-67.668015,-29.079464,-65.484030,-37.172290,-75.028230,...,-16.365305,-75.350914,-55.438694,-68.734860,-18.071041,27,4,3,1,Type 1
3,-96.585490,-93.696050,-70.406494,-86.055020,-27.637562,-18.663883,-30.243286,-16.134420,-25.663692,-78.031950,...,-43.906980,-95.231514,-78.067250,-41.085754,-35.535683,28,4,10,1,Type 1
4,-1.313923,-63.149410,-98.379130,-28.394420,-45.662308,-78.036770,-27.065493,-5.747743,-24.860998,-96.912605,...,-64.431786,-93.904010,-2.204123,-56.895874,-41.947872,29,2,6,1,Type 1

# Пример данных

# Берем только отсчеты

In [26]:
values_data = data.drop(columns=['Num Pack', 'Antenna', 'Window', 'Diag', 'System_type'])
values_data.head(5)

,data[0],data[1],data[2],data[3],data[4],data[5],data[6],data[7],data[8],data[9],...,data[2038],data[2039],data[2040],data[2041],data[2042],data[2043],data[2044],data[2045],data[2046],data[2047]
0,-64.449200,-55.673042,-30.408373,-97.823845,-48.108017,-35.798160,-29.773106,-79.133960,-20.236090,-56.574757,...,-72.939735,-76.587320,-0.695013,-64.819336,-4.649167,-2.730971,-96.824455,-54.453390,-75.374870,-26.068628
1,-98.071106,-73.799774,-70.041550,-26.610361,-79.431404,-0.545225,-27.153290,-75.430620,-25.741620,-19.417824,...,-58.059330,-25.359716,-27.934555,-65.580536,-97.257220,-68.978020,-95.390770,-20.614525,-27.744001,-38.712420
2,-33.203976,-20.196117,-32.095676,-39.095417,-44.602276,-67.668015,-29.079464,-65.484030,-37.172290,-75.028230,...,-65.649796,-87.457330,-74.228050,-98.382980,-63.170620,-16.365305,-75.350914,-55.438694,-68.734860,-18.071041
3,-96.585490,-93.696050,-70.406494,-86.055020,-27.637562,-18.663883,-30.243286,-16.134420,-25.663692,-78.031950,...,-0.259019,-97.126720,-12.590727,-54.080420,-56.321820,-43.906980,-95.231514,-78.067250,-41.085754,-35.535683
4,-1.313923,-63.149410,-98.379130,-28.394420,-45.662308,-78.036770,-27.065493,-5.747743,-24.860998,-96.912605,...,-61.915195,-70.843150,-0.930356,-75.970930,-91.858406,-64.431786,-93.904010,-2.204123,-56.895874,-41.947872

# Отсчеты первого наблюдения

In [27]:
values_data.iloc[0]

data[0]      -64.449200
data[1]      -55.673042
data[2]      -30.408373
data[3]      -97.823845
data[4]      -48.108017
                ...
data[2043]    -2.730971
data[2044]   -96.824455
data[2045]   -54.453390
data[2046]   -75.374870
data[2047]   -26.068628
Name: 0, Length: 2048, dtype: float64