In [6]:
import pandas as pd

# Загрузка и пример данных

In [7]:
data = pd.read_csv('data/2025-02-18_16:13_data.csv')
data.tail(10)

,data[0],data[1],data[2],data[3],data[4],data[5],data[6],data[7],data[8],data[9],...,data[2044],data[2045],data[2046],data[2047],Num Pack,Antenna,Window,Diag,System_type,Drone_type
118,-52.795240,-38.761528,-4.826665,-81.254105,-42.572030,-51.654940,-29.256832,-21.501654,-68.782110,-68.295685,...,-15.006440,-34.068855,-9.416179,-41.811184,159,3,7,1,Type 1,Autel
119,-84.860050,-86.738815,-74.714424,-53.169510,-12.428442,-10.136663,-41.872970,-90.633420,-5.421349,-77.897545,...,-39.331974,-41.466870,-45.050630,-64.464550,160,7,9,1,Type 1,Autel
120,-80.722130,-70.480700,-74.192505,-50.387110,-52.985107,-76.708970,-44.639217,-56.179905,-46.831000,-40.244934,...,-64.376720,-32.568905,-30.734928,-84.132260,161,8,3,1,Type 1,Autel
121,-46.464787,-43.826035,-12.738878,-62.238518,-54.532776,-60.587807,-17.025415,-59.672234,-85.497690,-27.415806,...,-28.636381,-99.596344,-73.077680,-6.688443,162,1,5,1,Type 1,Autel
122,-86.721300,-82.202160,-75.355280,-5.461772,-26.349255,-70.151054,-53.437313,-52.755383,-34.631670,-9.832098,...,-77.405266,-62.377724,-98.495865,-87.906600,163,2,10,1,Type 1,Autel
123,-47.518677,-34.129220,-44.073900,-8.778817,-96.892204,-28.390408,-42.237328,-76.640140,-95.945880,-6.301310,...,-7.364314,-96.388960,-46.138027,-99.293236,164,8,6,1,Type 1,Autel
124,-42.496353,-38.719650,-46.994175,-24.056507,-45.337963,-95.332410,-66.181560,-11.242105,-44.543167,-66.905785,...,-63.543300,-65.520380,-87.558040,-5.810595,165,7,7,1,Type 1,Autel
125,-16.814130,-78.472560,-28.994131,-96.151900,-0.251044,-14.800913,-42.040035,-68.618385,-24.786312,-36.993120,...,-61.220173,-26.454903,-71.341160,-20.714897,166,4,8,1,Type 1,Autel
126,-9.946103,-2.445869,-71.663574,-87.575010,-49.557514,-63.043484,-37.571774,-55.525140,-36.837185,-60.161830,...,-51.559467,-7.376417,-55.426790,-62.780020,167,4,7,1,Type 1,Autel
127,-72.063160,-98.193954,-54.217503,-46.288880,-23.212690,-55.204876,-83.617220,-88.187910,-0.996335,-81.459435,...,-78.222916,-68.075620,-85.295845,-31.715174,168,7,12,1,Type 1,Autel

# Берем только отсчеты

In [11]:
values_data = data.drop(columns=['Num Pack', 'Antenna', 'Window', 'Diag', 'System_type', 'Drone_type'])
values_data.head(5)

,data[0],data[1],data[2],data[3],data[4],data[5],data[6],data[7],data[8],data[9],...,data[2038],data[2039],data[2040],data[2041],data[2042],data[2043],data[2044],data[2045],data[2046],data[2047]
0,-32.915634,-23.752108,-12.117460,-43.619530,-32.494390,-4.641981,-22.153380,-2.490949,-20.475952,-51.867733,...,-41.416280,-31.749226,-11.781955,-16.983553,-22.040987,-33.875652,-44.137543,-56.609140,-82.847824,-66.083160
1,-7.080852,-2.812228,-57.932095,-50.520473,-23.833286,-41.143280,-46.120255,-35.351376,-45.024654,-81.033005,...,-40.355210,-43.391132,-32.384277,-22.643710,-50.239260,-40.315086,-55.403490,-43.534794,-1.787235,-58.727455
2,-43.809315,-14.841631,-12.667102,-21.647865,-2.819758,-1.993217,-29.175640,-38.182762,-66.514700,-55.537506,...,-58.175495,-28.964659,-79.602340,-86.800340,-0.055011,-18.869728,-31.679565,-57.392353,-18.310633,-46.504715
3,-87.479290,-92.546140,-11.851511,-83.508064,-69.335815,-59.494007,-97.360090,-34.501053,-7.970625,-76.901660,...,-21.161598,-34.304264,-55.896343,-5.250438,-20.281752,-9.995731,-85.827790,-22.828476,-52.986390,-98.325066
4,-60.813175,-79.484060,-57.665380,-28.729277,-82.122826,-97.601960,-33.502680,-3.607853,-90.560844,-20.341387,...,-74.109070,-22.586622,-95.352070,-72.049910,-49.504917,-17.963814,-77.901440,-20.846716,-97.033040,-2.838762

# Отсчеты первого наблюдения

In [12]:
values_data.iloc[0]

data[0]      -32.915634
data[1]      -23.752108
data[2]      -12.117460
data[3]      -43.619530
data[4]      -32.494390
                ...
data[2043]   -33.875652
data[2044]   -44.137543
data[2045]   -56.609140
data[2046]   -82.847824
data[2047]   -66.083160
Name: 0, Length: 2048, dtype: float64